<div>
  <a-form @submit.prevent="handleSubmit">
    <a-collapse defaultActiveKey="0" accordion>
      <a-collapse-panel
        v-for="({ header, description, fields }, i) in settingsFieldGroups"
        :header="header"
        :key="i"
      >
        <a-alert
          class="mb-4"
          v-if="description"
          type="info"
          banner
        >
          <span
            slot="message"
            v-html="getDescriptionHtml(description)"
          ></span>
        </a-alert>

        <div
          v-for="(config, i) in fields"
          :key="`${config.hide.toString()}-${config.field}`"
        >
          <template v-if="checkNestedObjectsArray(config.schema)">
            <div
              v-for="({ dataList, lowerCaseTitle, field }) in [{
                ...config,
                dataList: config.hide ? hiddenData[config.field] : data[config.field],
                lowerCaseTitle: (config.schema.items.title || '').toLowerCase()
              }]"
              key="nested"
            >
              <a-button
                type="dashed"
                class="mb-3"
                html-type="button"
                @click.prevent="dataList.push({})"
              >
                {{ `${i19add} ${lowerCaseTitle}` }}
              </a-button>

              <a-list
                :dataSource="dataList"
                class="mb-4"
                bordered
              >
                <a-list-item slot="renderItem" slot-scope="item, index">
                  <a-list-item-meta
                    :description="getObjectValues(item)"
                  >
                    <a
                      slot="title"
                      href="#"
                      @click.prevent="dataListsIndexes[field] = index"
                    >
                      <span
                        v-if="dataListsIndexes[field] === index"
                        key="editing"
                      >
                        <i class="fas fa-pen-square mr-1"></i>
                        {{ `${i19editing} ${lowerCaseTitle}` }}
                      </span>

                      <span v-else key="edit">
                        <i class="fas fa-pen mr-1"></i>
                        {{ i19edit }}
                      </span>

                      <samp class="ml-1">
                        #{{ (index + 1) }}
                      </samp>
                    </a>
                  </a-list-item-meta>
                </a-list-item>
              </a-list>
            </div>
          </template>

          <a-form-item
            v-for="({
              field,
              name,
              schema,
              component,
              data
            }) in parseAdminSettingsField(config)"
            v-if="component"
            :key="name"
            :label="checkComplexSchema(schema)? '' : schema.title"
            :label-col="{ span: 8 }"
            :wrapper-col="{ span: 16 }"
          >
            <template v-if="schema.description && !checkComplexSchema(schema)" #extra>
              <span v-html="getDescriptionHtml(schema.description)"></span>
            </template>
            <component
              v-bind="{ name, schema }"
              v-model="data[field]"
              :is="component"
            />
          </a-form-item>
        </div>

        <a-form-item :wrapper-col="{ span: 16, offset: 8 }" class="mb-1">
          <a-button type="primary" html-type="submit">
            <i class="fas fa-save mr-2"></i>
            {{ i19save }}
          </a-button>
        </a-form-item>
      </a-collapse-panel>
    </a-collapse>
  </a-form>
</div>
