<div class="ec-application-card">
  <div class="ec-application-card__body">
    <div class="ec-application-card__thumb">
      <img :src="appUrlIcon">
    </div>
    <div class="ec-application-card__content">
      <div class="ec-application-card__title">
        <h5>{{application.title}}</h5>
      </div>
      <div class="ec-application-card__description">
        <small>
          {{application.short_description}}
        </small>
      </div>
      <div class="ec-application-card__category">
        <small>
          <span>{{application.category}}</span> | Free
        </small>
      </div>
    </div>
  </div>
</div>