<div class="container py-4">
  <div class="row">
    <div class="col">
      <a-card hoverable style="width: 100%">
        <template class="ant-card-actions" slot="actions">
          <a-icon type="api" title="Instalar agora" @click="installApp" v-if="!isInstalled" class="ec-application__actions"/>
          <a-icon type="setting" title="Configurar aplicativo" @click="toggleSettings" v-if="isInstalled" class="ec-application__actions"/>
          <a-popconfirm
            title="Tem certeza que deseja excluir o aplicativo?"
            @confirm="deleteApp"
            okText="Sim"
            cancelText="Não"
            v-if="isInstalled"
          >
            <a-icon type="delete" title="Excluir aplicativo" class="ec-application__actions"/>
          </a-popconfirm>
        </template>
        <a-card-meta :title="title" :description="shortDescription">
          <a-avatar
            slot="avatar"
            :src="icon"
          />
        </a-card-meta>
      </a-card>
    </div>
  </div>
  <div class="row pt-4" v-if="showSettings">
    <div class="col">
      <a-card hoverable style="width: 100%">
        <slot name="application-settings"></slot>
      </a-card>
    </div>
  </div>
  <div class="row py-4">
    <div class="col">
      <a-card>
        <vue-markdown>{{description}}</vue-markdown>
      </a-card>
    </div>
  </div>
</div>