<a-card class="ec-app-card" @click="$emit('click')" hoverable>
  <div slot="cover" class="text-center">
    <img
      v-if="iconUrl"
      class="img-fluid"
      :src="iconUrl"
      :alt="app.title"
    />
    <a-icon v-else type="picture"/>
  </div>

  <a-card-meta
    :title="app.title"
    class="overflow-hidden"
    style="height: 9.25rem"
  >
    <template slot="description">
      {{ formattedDescription }}
    </template>
  </a-card-meta>

  <span class="text-success" v-if="!app.paid">
    {{ i19free }}
  </span>
  <span class="text-info" v-else>
    {{ i19paid }}
  </span>
  <span class="float-right"><i class="fas fa-download"></i> {{ downloadCount }} </span>
</a-card>
