<div class="ec-apps-market">
  <a-card
    class="mb-4"
    :bodyStyle="{ paddingBottom: 0 }"
  >
    <a-tabs
      :tabBarStyle="{ margin: 0 }"
      v-model="activeTabKey"
    >
      <a-tab-pane :tab="i19availableApps" key="market"/>
      <a-tab-pane :tab="i19yourInstalledApps" key="installed"/>
    </a-tabs>
  </a-card>

  <fade-transition :duration="{ enter: 500, leave: 0 }">
    <div v-if="!loading" class="pt-2">
      <a-alert
        v-if="loadError"
        key="error"
        :message="errorMessage"
        type="warning"
        closable
        @close="updateTabContent"
        :closeText="i19tryAgain"
      />

      <article v-else key="list">
        <div class="row">
          <div
            class="col-6 col-md-4 col-lg-3"
            v-for="(app, i) in apps"
            :key="`app-${i}`"
          >
            <component
              :is="activeTabKey === 'market' ? 'ec-app-card' : 'ec-installed-app-card'"
              :app.sync="apps[i]"
              :ecomApps="ecomApps"
              @click="$emit('click:app', app)"
              class="mb-4"
            />
          </div>
        </div>
      </article>
    </div>
  </fade-transition>

  <a-skeleton v-if="loading" active/>
</div>
