<a-card hoverable class="ec-app-card">
  <img alt="example" :src="appUrlIcon" slot="cover" class="ec-app-card__img" />
  <template slot="actions">
    <div class="act">
      <div v-if="isInstalled">
        <a-icon type="edit" />
        <router-link :to="`/apps/edit/${app.slug}`"> {{i18n(Edit)}} </router-link>
      </div>
      <div v-else>
        <a-icon type="download" />
        <router-link :to="`/apps/edit/${app.slug}`"> {{i18n(Install)}} </router-link>
      </div>
    </div>
  </template>
  <br />
  <div class="ec-app-card__card-description">
    <p>{{formattedDescription}}</p>
  </div>
</a-card>