<div>
  <a-form @submit="submit">
    <div
      v-for="({ schema, hide }, field) in adminSettings"
      :key="`${hide.toString()}-${field}`"
    >
      <ec-dynamic-field
        v-if="hide"
        :field="field"
        v-model="hiddenData[field]"
        :schema="schema"
      />
      <ec-dynamic-field
        v-else
        :field="field"
        v-model="data[field]"
        :schema="schema"
      />
    </div>
    <a-button
      hoverable
      @click="submit"
      size="large"
      class="mt-4 float-right"
      >
      <i class="fas fa-save mr-3"></i>
      {{ i19save }}
    </a-button>
  </a-form>
</div>
