<div>
  <a-form @submit="submit">
    <div
      v-for="(config, field) in adminSettings"
      :key="`${config.hide.toString()}-${field}`"
    >
      <component
        v-for="({
          field,
          name,
          schema,
          component,
          data
        }) in parseAdminSettingsField({ field, ...config })"
        v-bind="{ name, schema }"
        v-if="component"
        :key="name"
        v-model="data[field]"
        :is="component"
      />
    </div>

    <a-button
      hoverable
      @click="submit"
      size="large"
      class="mt-3 float-right"
      type="primary"
    >
      <i class="fas fa-save mr-2"></i>
      {{ i19save }}
    </a-button>
  </a-form>
</div>
